@model AlterarSenhaModel
@{
    ViewData["Title"] = "Alterar senha do usuário";
}

<div class="text-center">
    <h1 class="display-4">Alterar senha do usuário</h1>
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div asp-validation-summary="All" class="text-danger"></div>

<div class="p-4 border rounded shadow-lg"
     style="max-width: 400px; margin: 0 auto; background-color: #f8f9fa;">

    <form asp-controller="AlterarSenha" asp-action="Alterar" method="post">
        <h3 class="text-center mb-4">Alterar Senha</h3>

        <div class="mb-3">
            <label for="senhaAtual" class="form-label">Senha Atual</label>
            <input type="password" asp-for="SenhaAtual" class="form-control" placeholder="Digite a senha atual">
            <span asp-validation-for="SenhaAtual" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="novaSenha" class="form-label">Nova Senha</label>
            <input type="password" asp-for="NovaSenha" class="form-control" placeholder="Digite a nova senha">
            <span asp-validation-for="NovaSenha" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="confirmarSenha" class="form-label">Confirmar Nova Senha</label>
            <input type="password" asp-for="ConfirmarNovaSenha" class="form-control" placeholder="Confirme a nova senha">
            <span asp-validation-for="ConfirmarNovaSenha" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100" style="border-radius: 25px;">Alterar</button>

        <hr class="my-4" />

        <div class="text-center">
            <a class="btn btn-outline-secondary w-100" asp-controller="Home" asp-action="Index" style="border-radius: 25px;">
                Voltar
            </a>
        </div>
    </form>
</div>
