@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}


<div class="text-center">
    <h1>Gerenciamento de Veículo Online</h1>
    <p>Gerencie todos seus veiculos, e administre melhor o seu pós-venda!</p>
</div>
